<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Smart Home Portal</title>
        <meta http-equiv="Cache-Control" content="no-cache"> <!-- disable browser cache -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
        <script src="{{ url_for('static', filename='mobileDraw.js') }}"></script>
    </head>

    <body class="background">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul class="myList" id="myList"></ul>
        </div>

        <!-- canvas -->
        <div class="canvas">
            <canvas id="drawingCanvas"></canvas>
        </div>
    </body>

</html>